.container {
  width: 100vw;
  height: 100vh;
  .container_form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      .info {
        margin-bottom: 20px;
        .title {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 0px;
        }
      }
      form {
        .d-flex {
          align-items: center;
          gap: 10px;
          label {
            margin-bottom: 0;
          }
        }
        .mb-3 {
          position: relative;
          margin-bottom: 20px !important;
          .agreement_info {
            color: #7a7979;
            line-height: 19px;
          }
          p {
            margin-bottom: 5px;
          }
          .btn {
            height: 100%;
            padding: 10px 26px;
          }
          .form-label {
            cursor: auto;
          }
          .form-select {
            font-size: 18px;
            cursor: pointer;
          }
          .form-control,
          .form-select {
            padding: 14px 18px;
            font-size: 18px;
            &:focus {
              box-shadow: none;
            }
          }
          .placeholder_input {
            position: absolute;
            top: 12px;
            left: 20px;
            transition: all 0.2s;
            font-size: 18px;
          }
          .placeholder_focus {
            display: block;
            position: absolute;
            top: -12px;
            left: 14px;
            padding: 0 5px;
            border-radius: 6px;
            background: white;
            transition: all 0.2s;
            color: #86b7fe;
            font-size: 16px;
          }
          option {
            z-index: 111;
          }
        }
      }
    }
  }
}
